[submodule "Source"]
	path = Source
	url = https://github.com/YT37/SuneelPrinters-Server
[submodule "Source Code/server"]
	path = Source Code/server
	url = https://github.com/YT37/SuneelPrinters-Server
